<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="clr-namespace:Bonsai.Shaders;assembly=Bonsai.Shaders">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <SwapSync>true</SwapSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <CursorVisible>true</CursorVisible>
  <Location xsi:nil="true" />
  <WindowBorder>Resizable</WindowBorder>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState />
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>data00</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data00</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data01</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data01</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data02</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data02</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data03</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data03</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data04</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data03</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data05</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data03</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data06</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data03</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>data07</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>data03</TextureName>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>quad.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
  </Shaders>
  <Textures>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data00</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data01</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data02</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data03</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data04</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data05</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data06</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>data07</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
  </Textures>
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>Quad</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>